@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

h1 {
  font-size: 7rem;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 4rem;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}
